<div id="navbar">
    <nav>
        <a href="" class="logo"></a>
        <ul class="menu">
            <li><a href=""> <span class="random"></span> ALÉATOIRE</a></li>
            <li>
                <div class="form-send">
                    <form action="" method="post">
                        <textarea name="insult"></textarea>
                        <input type="submit" value="ENVOYER"/>
                    </form>
                </div>
                <a href="#" class="add"> <span class="add-icon"></span> AJOUTER UNE INSULTE</a>
            </li>
        </ul>
    </nav>
</div>