<div id="navbar">
    <nav>
        <a href="" class="logo"></a>
        <ul class="menu">
            <li><a href=""> <span class="aleatoire"></span> ALÉATOIRE</a></li>
            <li>
                <div class="form-send">
                    <form action="" method="post">
                        <textarea name="insulte"></textarea>
                        <label> <input type="checkbox" name="bonneInsulte"/> Mon insulte n'est ni homophobe ni
                            raciste</label>
                        <input type="submit" value="ENVOYER"/>
                    </form>
                </div>
                <a href="#" class="add"> <span class="ajouter"></span> AJOUTER UNE INSULTE</a>
            </li>
        </ul>
    </nav>
</div>