{% extends "@App/base.html.twig" %}

{% block body %}
    {% if insult.displayHashtag %}
    <a title="Cliquez moi et partagez moi !" href="{{ url('single_insult', {id: insult.id}) }}">#</a>
    {% endif %}
    <span>{{ insult.value }}</span>
{% endblock %}
