<div id="navbar">
    <nav>
        <a href="" class="logo hide-md"></a>
        <ul class="menu">
            <li class="vote vote-down"><a href=""><span></span></a></li>
            <li class="vote vote-up"><a href=""><span></span></a></li>
            <li class="random"><a href=""> <span></span> <em class="hide-sm">ALÉATOIRE</em></a></li>
            <li class="add">
                <div class="form-send">
                    <form action="" method="post">
                        <textarea name="insult"></textarea>
                        <input type="submit" value="ENVOYER"/>
                    </form>
                </div>
                <a href="#"> <span></span> <em class="hide-sm">AJOUTER UNE INSULTE</em></a>
            </li>
        </ul>
    </nav>
</div>
