* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none
}

a img {
    border: none
}

body {
    background: #262626;
    font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
    box-sizing: border-box;
}




.hp {
    background: url(/images/design/sprite.png) no-repeat 0 0;
    width: 86px;
    height: 78px;
    margin: 24px auto 0 auto;
}

.insult {
    min-width: 200px;
    max-width: 725px;
    height: 280px;
    margin: 45px auto 0 auto;
    padding: 0 10px;
    color: #cfcfe5;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 2px 1px #000000;
    filter: dropshadow(color=#000000, offx=1, offy=2);

    overflow-wrap: break-word;
    word-wrap: break-word;
}

.insult a {
    color: #cfcfe5
}

@media only screen and (max-width: 550px) {
    .hide-sm {
        display: none;
    }

    .insult {
        font-size: 27px;
    }

    .form-send textarea {
        min-height: 150px;
    }
}